# Application Environment
# Options: dev, prod, test
ENVIRONMENT=dev

# Redirect URI for frontend
REDIRECT_URI=localhost:8080

# Database Configuration
DATABASE_URL=postgresql+asyncpg://paylink_user:paylink_password@localhost:5432/paylink

# JWT Configuration
SECRET_KEY=your-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60 / your choice of time

# Email Configuration
# MailerSend API Key - get from https://www.mailersend.com/
MAILERSEND_KEY=your-mailersend-api-key

# Redis Configuration
REDIS_URL=redis://localhost:6379