# Postgres
POSTGRES_USER=database user
POSTGRES_PASSWORD=password
POSTGRES_DB=database name

# Redis
REDIS_URL=redis://redis:6379

# Application
DATABASE_URL=postgresql+asyncpg://<user>:<password>@<host>:<port>/<database>
ENVIRONMENT=dev (dev, prod)

# jwt
SECRET_KEY=whatever
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Mailersend api key
MAILERSEND_KEY=